.tile {
  background: #e9f0f2;
  max-width: 360px;
  width: 100%;
  h5 {
    color: #00556f;
  }
  .size-map {
    height: 270px;
  }
  p {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.06em;
  }
}
