.highlights-card-1-color {
    background-color: #f8f6f2;
}

.highlights-card-2-color {
    background-color: #f2f6f7;
}

.highlights-card-3-color {
    background-color: #f8f7f7;
}

.highlights-line-color {
    background-color: #C38A30;
}